/* MUSICS COMPONENT */

.musics__page {
  display: flex;
  justify-content: center;
}

.musics__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
}

.type {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 15px 0;
  cursor: pointer;
  width: 50%;
  margin: 10px 0 10px 0;
  transition: background-color 300ms, color 300ms;
}

.type:hover {
  background-color: grey;
}

.loops,
.productions,
.speed__compositions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sound {
  width: 800px;
  height: 300;
}

.credits {
  font-size: 10px;
  color: black;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 100;
}

.credits__link {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .musics__page {
    margin: 75px 500px;
  }

  .musics__container {
    width: 100%;
  }

  .type {
    font-size: 1.4rem;
  }

  .sound {
    margin: 10px 0;
  }
}

@media screen and (max-width: 899px) {
  .musics__container {
    width: 75%;
    margin-top: 100px;
  }

  .sound {
    width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .musics__container {
    width: 80%;
    margin-top: 30px;
  }

  .type {
    font-size: 0.75rem;
  }

  .sound {
    width: 300px;
  }
}
