/* PORTFOLIO COMPONENT */

.portfolio__page {
  /* display: flex; */
  /* align-items: center;
  width: auto; */
}

.portfolio__container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
}

.musics__container,
.photos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.musics__container:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.photos__container:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.categorie {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: black;
}

.image {
  border-radius: 50%;
}

@media screen and (min-width: 900px) {
  .portfolio__container {
    margin: 75px 300px 75px 300px;
    padding: 50px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 899px) {
  .portfolio__container {
    flex-direction: column;
    margin: 100px 50px;
  }

  .musics__container,
  .photos__container {
    margin-top: 50px;
  }

  .photos__container {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__container {
    margin: 50px 25px;
  }

  .image {
    width: 200px;
    height: auto;
  }
}
