/* HEADER COMPONENT */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgb(207, 207, 207);
  background: linear-gradient(
    180deg,
    rgba(207, 207, 207, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.title {
  text-transform: uppercase;
  font-weight: normal;
}

.nav {
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
}

.list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
}

.list__item a:hover {
  border-bottom: solid 2px black;
}

@media screen and (min-width: 900px) {
  .title {
    margin-left: 50px;
  }

  .burger__menu {
    display: none;
  }

  .nav__list {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .list__item a {
    height: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 899px) {
  .title {
    margin-left: 20px;
  }

  .burger__menu {
    display: block;
    margin-right: 20px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__list {
    z-index: 99;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .list__item {
    margin: 20px 0 0 0;
  }
}

/* FOOTER COMPONENT */

.footer__container {
  background: rgb(207, 207, 207);
  background: linear-gradient(
    0deg,
    rgba(207, 207, 207, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  bottom: 0;
  /* margin: 0;
  margin-top: auto; */
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.social__media {
  text-decoration: none;
  color: black;
}

.social__media:hover {
  border-bottom: 1px solid black;
}

.first__text,
.second__text {
  font-weight: lighter;
}

@media screen and (min-width: 900px) {
  .first__text {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 899px) {
  .first__text {
    margin: 0;
    padding: 0;
  }
}

/* HOME COMPONENT */

.home {
  display: flex;
  justify-content: center;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  opacity: 0.8;
}

.title {
  text-transform: uppercase;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .home__container {
    font-size: 0.6rem;
    width: 95%;
    height: 250px;
    margin-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 899px) {
  .home__container {
    font-size: 0.8rem;
    width: 70%;
    margin-top: 200px;
  }
}

@media screen and (min-width: 900px) {
  .home__container {
    width: 50%;
    height: 300px;
    margin-top: 170px;
    font-size: 1.2rem;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
}

@media screen and (max-width: 899px) {
}

@media screen and (max-width: 767px) {
}
