/* HEADER COMPONENT */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /* background: rgb(207, 207, 207);
  background: linear-gradient(
    180deg,
    rgba(207, 207, 207, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: rgba(255, 255, 255, 0.7);
}

.name {
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
}

.list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
}

.list__item a:hover {
  border-bottom: solid 2px black;
}

@media screen and (min-width: 900px) {
  .name {
    margin-left: 50px;
  }

  .burger__menu {
    display: none;
  }

  .nav__list {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .list__item a {
    height: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 899px) {
  .name {
    margin-left: 20px;
  }

  .burger__menu {
    display: block;
    margin-right: 20px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__list {
    z-index: 99;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .list__item {
    margin: 20px 0 0 0;
  }
}

/* FOOTER COMPONENT */

.footer__container {
  /* background: rgb(207, 207, 207);
  background: linear-gradient(
    0deg,
    rgba(207, 207, 207, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
  margin-top: auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.social__media {
  text-decoration: none;
  color: black;
}

.social__media:hover {
  border-bottom: 1px solid black;
}

.first__text,
.second__text {
  font-weight: lighter;
}

@media screen and (min-width: 900px) {
  .first__text {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 899px) {
  .name {
    font-size: 1.4rem;
  }

  .first__text {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 1.2rem;
  }
}

/* HOME COMPONENT */

.home {
  display: flex;
  justify-content: center;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
}

.title {
  text-transform: uppercase;
  font-weight: normal;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .home__container {
    font-size: 0.6rem;
    width: 95%;
    height: 250px;
    margin-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 899px) {
  .home__container {
    font-size: 0.8rem;
    width: 70%;
    margin-top: 200px;
  }
}

@media screen and (min-width: 900px) {
  .home__container {
    width: 50%;
    height: 300px;
    margin-top: 170px;
    font-size: 1.2rem;
  }
}

/* ABOUT COMPONENT */

.about__container {
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
}

.bold {
  font-weight: bold;
}

.profil {
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 10px;
  }

  .profil {
    width: 250px;
    height: auto;
  }

  .description {
    margin-top: 15px;
    line-height: 130%;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px;
    padding: 25px;
  }

  .description {
    margin-top: 45px;
    line-height: 150%;
  }
}

@media screen and (min-width: 900px) {
  .about__container {
    display: flex;
    flex-direction: row;
    margin: 75px 300px auto 300px;
    padding: 50px;
  }

  .description {
    margin-left: 50px;
    line-height: 200%;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}
