/* HOME COMPONENT */

.portfolio__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.link {
  text-decoration: none;
  color: black;
}

.categorie_container {
  position: relative;
  transition: all 0.3s ease;
}

.categorie_container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.categorie {
  text-decoration: none;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 2%; /* position verticale au centre */
  left: 50%; /* position horizontale au centre */
  transform: translate(-50%, -50%); /* centrage parfait */
  padding: 10px; /* espace intérieur autour du texte */
  border-radius: 5px; /* bord arrondi */
  font-size: 16px; /* taille de la police */
  font-weight: bold; /* graisse de la police */
}

.image {
  border-radius: 5px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}
